<template>
  <div class="login-form">
    <form @submit.prevent="login">
      <div>
        <h1>Welcome to my Login Page</h1>
      </div>
      <div>
        <label>Email Address</label>
        <input v-model="emailAddress" id="emailAddress" name="emailAddress" placeholder="Insert Email Address">
      </div>
      <div>
        <label>Password</label>
        <input type="password" v-model="password" id="password" name="password" placeholder="Insert Password">
      </div>
      <input type="submit" value="login">
    </form>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "Login",
  data() {
    return {
      emailAddress: "",
      password: "",
    };
  },
  methods: {
    async login(){
        if(this.emailAddress && this.password){
            const payload = { emailAddress: this.emailAddress, password: this.password }
            const response = await axios.post("/api/login", payload);

            console.log(response)
            alert(response.data)
        }
        if(!this.emailAddress){
        alert("Email Address is required")
        }
        if(!this.password){
        alert("Password is required")
        }
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
