<template>
  <div class="registration-form">
    <form @submit.prevent="register">
      <div>
        <h1>Welcome to my Registration Page</h1>
      </div>
      <div>
        <label>Email Address</label>
        <input v-model="emailAddress" id="emailAddress" name="emailAddress" placeholder="Insert Email Address">
      </div>
      <div>
        <label>Password</label>
        <input type="password" v-model="password" id="password" name="password" placeholder="Insert Password">
      </div>
      <input type="submit" value="register">
    </form>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "Registration",
  data() {
    return {
      emailAddress: "",
      password: "",
    };
  },
  methods: {
    async register(){
      if(this.emailAddress && this.password){
        const payload = { emailAddress: this.emailAddress, password: this.password }
        console.log(payload)
        const response = await axios.post("/api/register", payload);

        console.log(response)
        alert(response.data)
      }
      if(!this.emailAddress){
        alert("Email Address is required")
      }
      if(!this.password){
        alert("Password is required")
      }
      
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
